@media screen and (max-width : 768px) {
    /* 컨텐츠 크기 */
    .CW{padding-left: 20px; padding-right: 20px;}

    /* 포인트 색상 */
    mark{color: #fa5014;}

    .imgBox{background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -9999px;}

    /* 해더 */
    header{padding: 15px 0; background-color: white; position: sticky; top: 0; left: 0; width: 100%; z-index: 100; transition: box-shadow 0.5s;}
    header.active{box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);}
    header .CW{display: flex; align-items: center;}
    header .CW h1{margin-right: 24px;}
    header .CW h1 a{width: 25px; height: 22px; background: url('../images/common/mobile-logo.png') no-repeat center / cover; text-indent: -9999px;}
    header .CW nav ul{display: flex; align-items: center;}
    header .CW nav ul li:not(:last-child){margin-right: 12px;}
    header .CW nav ul li a{font-size: 15px; padding: 5px 13px; font-weight: 700; text-align: center; }
    header .CW nav ul li.active a{color: white; background-color: black; border-radius: 100px;}
    header .CW .openBtn{position: absolute; right: 20px; top: 50%; transform: translateY(-50%);}
    header .CW :is(form ,.searchBox){margin-left: auto;}
    header .CW .searchBox{ width: 20px; position: relative; overflow: hidden; pointer-events: none;}
    header .CW .searchBox.active{pointer-events: all;}
    header .CW .searchBox fieldset{display: flex; align-items: center; overflow: hidden;}
    header .CW :is(button , [type="submit"]){width: 20px; height: 20px; background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -9999px;}
    header .CW :is(.openBtn ,[type="submit"]){background-image: url('../images/common/search.png');}
    /* header .CW .searchBox .openBtn{position: absolute; right: 0; top: 0;} */
    header .CW .searchBox [type="submit"]{border: none; background-color: transparent; order: -1; margin-right: 15px;}
    header .CW .searchBox .closeBtn{background-image: url('../images/common/delete.png'); opacity: 0.3; transition: opacity 0.5s;}
    header .CW .searchBox .closeBtn.active{opacity: 1;}
    header .CW .searchBox fieldset input[type="search"]{ width: 240px; font-size: 20px; font-weight: 700; border: none; padding: 0; outline: none; margin-right: 15px;}
    header .CW .searchBox fieldset input[type="search"]::placeholder{font-size: 18px; color: rgba(0, 0, 0, 0.3);}


    /* 서브페이지 상단 */
    .subPage .topBox{display: flex; flex-wrap: wrap; padding: 40px 0 260px;  font-weight: 700; background-repeat: no-repeat; background-position: left 53px top 110px; background-size: 285px; margin-bottom: 15px;}
    .subPage .topBox h2{font-size: 36px; line-height: 1.2; margin-bottom: 10px;}
    .subPage .topBox p{font-size: 22px; line-height: 1.36;}
    .subPage .articlePage .topBox{background-image: url('../images/article/top-article.png');}
    .subPage .barogoPage .topBox{background-image: url('../images/barogo/top-barogo.png');}

    /* 서브페이지 목록 버튼 */
    .btnBox{display: flex; border-bottom: 4px solid black; margin-bottom: 30px;}
    .btnBox li{position: relative;}
    .btnBox li:not(:last-child):after{content: ''; position: absolute; right: 0; top: 50%; width: 2px; height: 12px; background-color: black; transform: translateY(-50%);}
    .btnBox li button{font-size: 17px; font-weight: 700; color: rgba(0, 0, 0, 0.3); padding-top: 25px; padding-bottom: 25px;}
    .btnBox li button.active{color: black;}
    .btnBox li:first-child button{padding-right: 20px;}
    .btnBox li:not(:first-child) button::before{content: '#';}
    .btnBox li:not(:first-child) button{padding-left: 20px; padding-right: 20px;}


    /* 리스트 공통 */
    .listBox{display: flex; flex-wrap: wrap; justify-content: space-between; position: relative;}
    .listBox li{position: absolute; left: 0; top: 0;}
    .listBox li img{width: 100%;}
    .listBox li img + strong{margin-top: 20px;}
    .listBox li img + div{margin-top: 20px;}
    .listBox li div{display: flex; flex-wrap: wrap; gap: 5px; margin-bottom: 1px;}
    .listBox li div mark{font-size: 15px; font-weight: 700;}
    .listBox li div mark::before{content: '#';}
    .listBox li div + strong{padding-bottom: 20px; position: relative;}
    .listBox li div + strong::after{content: ''; position: absolute; left: 0; bottom: 0; width: 25px; height: 2px; background-color: black;}
    .listBox li strong{display: block; font-size: 17px; line-height: 1.53; font-weight: 700; margin-bottom: 10px;}
    .listBox li p{font-size: 15px; line-height: 1.6; margin-bottom: 5px;}
    .listBox li time{font-size: 15px; line-height: 1.6; color: #666;}

    /* 서브페이지 리스트 */
    .subPage .listBox{padding-bottom: 100px;}


    /* 푸터 */
    footer .topArea{background-color: black; padding: 50px 0;}
    footer .topArea div{display: flex; flex-wrap: wrap; justify-content: space-between; gap: 20px;}
    footer .topArea div .linkArea{display: flex; color: white;}
    footer .topArea div .linkArea > li:not(:last-of-type){margin-right: 130px;}
    footer .topArea div .linkArea > li b{display: block; font-size: 14px; font-weight: 700; margin-bottom: 15px;}
    footer .topArea div .linkArea > li ul li a{font-size: 12px; line-height: 2.17; font-weight: 500; display: flex;}
    footer .topArea div .SNSArea{display: flex; gap: 20px;}
    footer .topArea div .SNSArea li a{display: block; width: 20px; height: 20px; background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -9999px;}
    footer .topArea div .SNSArea li:nth-child(1) a{background-image: url('../images/common/facebook.png');}
    footer .topArea div .SNSArea li:nth-child(2) a{background-image: url('../images/common/youtube.png');}
    footer .topArea div .SNSArea li:nth-child(3) a{background-image: url('../images/common/blog.png');}
    footer .topArea div .SNSArea li:nth-child(4) a{background-image: url('../images/common/insta.png');}

    /* 바텀 공통 */
    footer .bottomArea{padding-top: 50px; padding-bottom: 50px;}
    footer .bottomArea p{font-size: 12px; color: #999;}
    footer .bottomArea{display: flex; justify-content: space-between; align-items: flex-end;}
    footer .bottomArea div:first-of-type h2{width: 130px; margin-bottom: 10px;}
    footer .bottomArea div:first-of-type h2 img{width: 100%;}
    footer .bottomArea div:first-of-type address{display: flex; margin-bottom: 5px;}
    footer .bottomArea div:first-of-type address p:not(:last-of-type){margin-right: 5px;}
    footer .bottomArea div:first-of-type > p{margin-bottom: 20px;}
    footer .bottomArea div:first-of-type ul{display: flex;}
    footer .bottomArea div:first-of-type ul li:not(:last-of-type){margin-right: 20px;}
    footer .bottomArea div:first-of-type ul li a{font-size: 14px; font-weight: 700;}
    footer .bottomArea div:nth-of-type(2){text-align: right;}
    footer .bottomArea div:nth-of-type(2) b{display: block; font-size: 12px; margin-bottom: 10px;}
    footer .bottomArea div:nth-of-type(2) a{font-size: 26px; font-weight: 700; line-height: 1.19; margin-bottom: 10px;}
    footer .bottomArea div:nth-of-type(2) p{line-height: 1.25;}    

    /* 메인페이지 */
    .mainArea{}
    .mainArea .leftArea{margin-bottom: 30px;}
    .mainArea .leftArea > div{line-height: 0;   position: relative;}
    .mainArea .leftArea > div div{font-size: 6.1111vw; font-weight: 700; color: white;}
    .mainArea .leftArea > div div{position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding: 8.8888vw; box-sizing: border-box; display: flex; flex-direction: column; justify-content: space-between; z-index: 1;}
    .mainArea .leftArea > div div b{line-height: 1.1875; display: flex; justify-content: space-between;}
    .mainArea .leftArea > div div p{line-height: 1.5;}
    .mainArea .leftArea > div img{width: 100%;}
    .mainArea section{ padding: 0 20px; box-sizing: border-box;}
    .mainArea section h2{font-size: 30px; font-weight: 700; padding-top: 30px; border-top: 4px solid black; margin-bottom: 40px;}

    /* 상세페이지 */
    .detailPage{padding: 340px 0 70px; position: relative;}
    .detailPage > .imgBox{position: absolute; left: 0; top: 0; width: 100%; height: 470px;}
    .detailPage article{width: 65%; max-width: 1248px; background-color: white; margin: 0 auto; padding: 55px; box-sizing: border-box; position: relative; z-index: 1;}
    .detailPage article .pager{font-size: 12px; display: flex; align-items: center; margin-bottom: 30px;}
    .detailPage article .pager span{font-size: 14px; font-weight: 700; margin-left: 10px; padding-left: 10px; border-left: 1px solid black;}
    .detailPage article h2{font-size: 32px; font-weight: 700; line-height: 1.3; margin-bottom: 20px;}
    .detailPage article time{display: block; font-size: 13px; color: #666; margin-bottom: 40px;}
    .detailPage article img{width: 100%; margin-bottom: 30px;}
    .detailPage article p{font-size: 15px; line-height: 1.73;}
    .detailPage article ul{display: flex; margin-top: 50px; gap: 10px;}
    .detailPage article ul li{font-size: 15px; font-weight: 700; line-height: 1.73;}
    .detailPage article ul li::before{content: '#';}
    .detailPage article .shareBtn{position: absolute; right: 55px; top: 55px; width: 120px; height: 36px; font-size: 14px; font-weight: 500; display: flex; justify-content: center; align-items: center; border: 1px solid #d4d4d4;}
    .detailPage article .shareBtn::before{content: ''; width: 16px; height: 16px; background: url('../images/detail/share.png') no-repeat center / cover; margin-right: 15px;}
    .detailPage article section{margin-top: 140px;}
    .detailPage article section h3{font-size: 24px; font-weight: 700; margin-bottom: 25px;}
    .detailPage article section a{display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
    .detailPage article section a:first-of-type{border-top: 4px solid black;}
    .detailPage article section a .textArea{width: 43.333%; padding: 17px 0;}
    .detailPage article section a .textArea mark{display: block; font-size: 13px; font-weight: 700; margin-bottom: 10px;}
    .detailPage article section a .textArea mark::before{content: '#';}
    .detailPage article section a .textArea strong{display: block; font-size: 17px; font-weight: 700; margin-bottom: 5px;}
    .detailPage article section a .textArea p{font-size: 13px; line-height: 1.54;}
    .detailPage article section a .imgBox{width: 33.3333%; padding-bottom: 18%;}
    
}
