
/* 메인페이지 */
.mainArea{height: calc(100vh - 80px); display: flex;}
.mainArea > *{height: 100%; overflow: auto; padding: 0; scroll-behavior: smooth}
.mainArea > *::-webkit-scrollbar{width: 0;}
.mainArea .leftArea{width: 43.229%;}
.mainArea .leftArea > div{line-height: 0;   position: relative;}
.mainArea .leftArea > div div{font-size: 48px; font-weight: 700; color: white;}
.mainArea .leftArea > div div{position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding: 60px; box-sizing: border-box; display: flex; flex-direction: column; justify-content: space-between; z-index: 1;}
.mainArea .leftArea > div div b{line-height: 1.1875; display: flex; justify-content: space-between;}
.mainArea .leftArea > div div p{line-height: 1.5;}
.mainArea .leftArea > div img{width: 100%;}
.mainArea section{width: 56.771%; padding: 0 2.6%; box-sizing: border-box;}
.mainArea section h2{font-size: 30px; font-weight: 700; padding-top: 80px; border-top: 4px solid black; margin-bottom: 60px;}
.mainArea section .listBox li{width: 47.75%;}


